<?xml version="1.0"?>
<config>
  <modules>
    <LWM_Youtube>
      <version>0.1.0</version>
    </LWM_Youtube>
  </modules>
  <frontend>
    <routers>
      <lwmyoutube>
        <use>standard</use>
          <args>
            <module>LWM_Youtube</module>
            <frontName>lwmyoutube</frontName>
          </args>
      </lwmyoutube>
    </routers>
		<layout>
		  <updates>
			<lwmyoutube>
			  <file>lwmyoutube.xml</file>
			</lwmyoutube>
		  </updates>
		</layout>
  </frontend>
  <global>
    <helpers>
      <lwmyoutube>
        <class>LWM_Youtube_Helper</class>
      </lwmyoutube>
    </helpers>
	<blocks>
	  <lwmyoutube>
		<class>LWM_Youtube_Block</class>
	  </lwmyoutube>
	</blocks>
  </global>
</config> 