<?xml version="1.0"?>
<config>
	  <tabs>
		<lwmyoutube translate="label" module="lwmyoutube">
            <label>Youtube Feed</label>
            <sort_order>100</sort_order>
        </lwmyoutube>
	  </tabs>
	  <sections>
		<lwmyoutubesetting  translate="label" module="lwmyoutube">                    
		<label>Youtube Feed Settings</label>
		<tab>lwmyoutube</tab>
		<sort_order>100</sort_order>
        <show_in_default>1</show_in_default>
        <show_in_website>1</show_in_website>
        <show_in_store>1</show_in_store>         
					<groups>
				      <general translate="label"> 
					  <label>Settings</label>
					  <frontend_type>text</frontend_type>
					  <sort_order>0</sort_order>
					  <show_in_default>1</show_in_default>
					  <show_in_website>1</show_in_website>
					  <show_in_store>1</show_in_store>
				       <fields>
                          <username translate="label">
                            <label>Username</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </username>
                          <channel translate="label">
                            <label>Channel Id</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </channel>
                          <api_key translate="label">
                            <label>API Key</label>
							<frontend_type>text</frontend_type>
                            <sort_order>0</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                          </api_key>
					   </fields>
					   </general>
					</groups>
		</lwmyoutubesetting>
	  </sections>
</config>
